.login-form *{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}
input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding-left: 16px;
    font-family: inherit;
}
input:hover {
    border-color:  #000;
}

button {
    margin-top: 16px;}